body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mapboxgl-popup {
  max-width: 200px;
}

p {
  font-family: 'Open Sans';
  margin: 0;
  font-size: 13px;
}

#marker {
  width: 30px;
  height: 30px;
  background-color: #d1d1d171;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup-content {
  position: relative;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 15px;
  pointer-events: auto;
}
